<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <!-- 定义日志的根目录，可以是相对路径，或者绝对路径(如E:/temp/logs). -->
    <property name="LOG_HOME" value="/tmp/airport/logs"/>
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--按天生成日志-->
    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <!-- 过滤器，只打印ERROR级别的日志 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>
               ${LOG_HOME}/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>15</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
               %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.fishpro.log" additivity="false">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile"/>
    </logger>

    <!-- 连接数据库配置 test-->
    <appender name="db_classic_mysql_pool_test" class="com.dingfeng.airportintelligentcustomerservice.core.LogDBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">
                <driverClassName>com.mysql.cj.jdbc.Driver</driverClassName>
                <url>jdbc:mysql://10.40.21.87:3306/airportintcusserTest?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false</url>
                <username>root</username>
                <password>airport@KF-19</password>
            </dataSource>
        </connectionSource>
    </appender>
    <!-- 连接数据库配置 Pro-->
    <appender name="db_classic_mysql_pool" class="com.dingfeng.airportintelligentcustomerservice.core.LogDBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="org.apache.commons.dbcp.BasicDataSource">
                <driverClassName>com.mysql.cj.jdbc.Driver</driverClassName>
                <url>jdbc:mysql://10.40.21.87:3306/airportintcusser?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true&amp;failOverReadOnly=false</url>
                <username>root</username>
                <password>airport@KF-19</password>
            </dataSource>
        </connectionSource>
    </appender>


    <!--myibatis log configure-->
    <logger name="com.apache.ibatis" level="TRACE"/>
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>

    <!-- 开发环境下的日志配置 -->
    <!-- 日志输出级别 -->
    <springProfile name="default,local">
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="logFile"/>
        </root>
    </springProfile>

     <springProfile name="test">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="logFile"/>
            <appender-ref ref="db_classic_mysql_pool_test" />
        </root>
    </springProfile>

    <springProfile name="pro,pre">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="logFile"/>
            <appender-ref ref="db_classic_mysql_pool" />
        </root>
    </springProfile>


</configuration>