<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingfeng.airportintelligentcustomerservice.mapper.MachineMapper">
    <select id="getList" resultType="com.dingfeng.airportintelligentcustomerservice.pojo.sysManage.MachineInfo">
    SELECT m.id,
m.name,
m.mac_id,
m.area_id,
m.dep_status,
m.version,
from_unixtime(m.create_time) as create_time,
from_unixtime(m.update_time) as update_time,
m.`status`,a.name AS areaName
FROM machine AS m
LEFT JOIN AREA AS a ON m.area_id=a.id
Order by m.create_time desc
    </select>
    <select id="getById" resultType="com.dingfeng.airportintelligentcustomerservice.pojo.sysManage.MachineInfo">
        SELECT m.id,
m.name,
m.mac_id,
m.area_id,
m.dep_status,
m.version,
from_unixtime(m.create_time) as create_time,
from_unixtime(m.update_time) as update_time,
m.`status`,a.name AS areaName
FROM machine AS m
LEFT JOIN AREA AS a ON m.area_id=a.id
where m.id =#{id}
    </select>
    <insert id="add">
    INSERT INTO machine(name,mac_id,area_id,dep_status,version,create_time) 
VALUES(#{name},#{mac_id},#{area_id},#{dep_status},#{version},unix_timestamp(Now()))
    </insert>
    <update id="edit">
Update machine set name=#{name}, mac_id=#{mac_id}, area_id=#{area_id}, dep_status=#{dep_status}, version=#{version}, update_time=unix_timestamp(Now())
where id=#{id}
    </update>
    <select id="exitMachine" resultType="java.lang.Integer">
select Count(*) from machine where id !=#{id} and (name=#{name} Or mac_id=#{mac_id})
    </select>
    <delete id="delete">
    delete from machine where id=#{id}
    </delete>
</mapper>