<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingfeng.airportintelligentcustomerservice.mapper.MachineMapper">
    <select id="getList" resultType="com.dingfeng.airportintelligentcustomerservice.pojo.sysManage.MachineInfo">
    SELECT m.id,
m.name,
m.mac_id,
m.area_id,
m.dep_status,
m.version,
from_unixtime(m.create_time) as create_time,
from_unixtime(m.update_time) as update_time,
m.`status`,a.name AS areaName
FROM machine AS m
LEFT JOIN AREA AS a ON m.area_id=a.id
Order by m.create_time desc
    </select>
    <select id="getById" resultType="com.dingfeng.airportintelligentcustomerservice.pojo.sysManage.MachineInfo">
        SELECT m.id,
m.name,
m.mac_id,
m.area_id,
m.dep_status,
m.version,
from_unixtime(m.create_time) as create_time,
from_unixtime(m.update_time) as update_time,
m.`status`,a.name AS areaName
FROM machine AS m
LEFT JOIN AREA AS a ON m.area_id=a.id
where m.id =#{id}
    </select>
    <insert id="add">
    INSERT INTO machine(name,mac_id,area_id,dep_status,version,create_time) 
VALUES(#{name},#{mac_id},#{area_id},#{dep_status},#{version},unix_timestamp(Now()))
    </insert>
    <update id="edit">
Update machine set name=#{name}, mac_id=#{mac_id}, area_id=#{area_id}, dep_status=#{dep_status}, version=#{version}, update_time=unix_timestamp(Now())
where id=#{id}
    </update>
    <select id="exitMachine" resultType="java.lang.Integer">
select Count(*) from machine where id !=#{id} and (name=#{name} Or mac_id=#{mac_id})
    </select>
    <delete id="delete">
    delete from machine where id=#{id}
    </delete>
    <insert id="addMachineSdkLog">
INSERT INTO machine_sdk_log(mac_id,mac_model_id,sdk_name,versions,run_status,info,create_time)
Values(#{mac_id},#{mac_model_id},#{sdk_name},#{versions},#{run_status},#{info},unix_timestamp(Now()))
    </insert>
    <insert id="addMachineRunLog">
  insert into machine_run_log(mac_id,body,div_info,div_status,create_time)
  Values(#{mac_id},#{body},#{div_info},#{div_status},unix_timestamp(Now()))
    </insert>
    <select id="summaryMachineUsed" resultType="com.dingfeng.airportintelligentcustomerservice.pojo.sysManage.SummaryMachineUsedInfo">
    SELECT m.mac_id AS mac_id,a.name AS area_name, Count(*) AS total
FROM machine_sdk_log AS s
JOIN machine AS m ON s.mac_id=m.mac_id
JOIN AREA AS a ON m.area_id=a.id
        <where> 1=1 
            <if test="mac_id !=null and mac_id !=''">
              And s.mac_id LIKE CONCAT(CONCAT('%', #{mac_id, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="area_name !=null and area_name !=''">
              And a.name LIKE CONCAT(CONCAT('%', #{area_name, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="begDate !=null and begDate!=''">
              And s.create_time &gt;= unix_timestamp(begDate) 
            </if>
            <if test="endDate !=null and endDate != ''">
              And s.create_time &lt;= unix_timestamp(endDate) 
            </if>
        </where>
GROUP BY m.mac_id,a.name
    </select>
    <select id="summaryMachineModelUsed" resultType="com.dingfeng.airportintelligentcustomerservice.pojo.sysManage.SummaryMachineModelUsedInfo">
    SELECT m.mac_id AS mac_id,a.name AS area_name, s.mac_model_id,s.run_status, Count(*) AS total
FROM machine_sdk_log AS s
JOIN machine AS m ON s.mac_id=m.mac_id
JOIN AREA AS a ON m.area_id=a.id
        <where> 1=1 
            <if test="mac_id !=null and mac_id !=''">
              And s.mac_id LIKE CONCAT(CONCAT('%', #{mac_id, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="area_name !=null and area_name !=''">
              And a.name LIKE CONCAT(CONCAT('%', #{area_name, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="mac_model_id !=null and mac_model_id !=''">
              And s.mac_model_id LIKE CONCAT(CONCAT('%', #{mac_model_id, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="begDate !=null and begDate!=''">
              And s.create_time &gt;= unix_timestamp(begDate) 
            </if>
            <if test="endDate !=null and endDate != ''">
              And s.create_time &lt;= unix_timestamp(endDate) 
            </if>
        </where>
GROUP BY m.mac_id,a.name,s.mac_model_id,s.run_status
    </select>
    <select id="logMachine" resultType="com.dingfeng.airportintelligentcustomerservice.pojo.sysManage.MachineSdkLogInfo">
   SELECT m.mac_id,
m.name AS mac_name,
a.name AS area_name, 
s.mac_model_id,
s.run_status,
s.sdk_name,
s.versions,
s.info
FROM machine_sdk_log AS s
JOIN machine AS m ON s.mac_id=m.mac_id
JOIN AREA AS a ON m.area_id=a.id
        <where> 1=1 
            <if test="mac_id !=null and mac_id !=''">
              And s.mac_id LIKE CONCAT(CONCAT('%', #{mac_id, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="area_name !=null and area_name !=''">
              And a.name LIKE CONCAT(CONCAT('%', #{area_name, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="mac_model_id !=null and mac_model_id !=''">
              And s.mac_model_id LIKE CONCAT(CONCAT('%', #{mac_model_id, jdbcType=VARCHAR}),'%') 
            </if>
            <if test="begDate !=null and begDate!=''">
              And s.create_time &gt;= unix_timestamp(begDate) 
            </if>
            <if test="endDate !=null and endDate != ''">
              And s.create_time &lt;= unix_timestamp(endDate) 
            </if>
        </where>
    </select>
</mapper>